<section class="pt-4 pb-5">
  <div class="container">

    <div class="container"
         style="background-image: url(../../../../assets/img/banner1.png); background-size: cover; background-position: center;">
      <div class="section__slider-slide d-flex align-items-center ps-5 overflow-hidden" style=" height: 550px">
        <div class="ms-5">
          <div class="fw-bold fs-1 ms-4 mb-5">Скидки на травяные чаи</div>
        </div>
      </div>
    </div>
  </div>

</section>
<section class="pt-4 pb-5">
  <div class="container ">
    <h2 class="fw-bold text-center mb-5">Ответы на часто задаваемые вопросы</h2>
    <div class="wrap__accordion mx-auto">
      <div id="accordion">
        <h3>Собираете ли вы подарочные боксы?</h3>
        <div>
          <p>
            Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
          </p>
        </div>
        <h3>Сколько у вас разновидностей чая?</h3>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores assumenda at cum dolorum
            ducimus ea excepturi fugiat inventore iste laboriosam magnam molestias perspiciatis placeat porro, sunt
            tempora temporibus ut.
          </p>
        </div>
        <h3>В какой срок осуществляется доставка?</h3>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur at atque blanditiis, commodi
            consequatur corporis deserunt dolorem enim eos facere in labore natus nobis officia pariatur quam ratione
            tempore!
          </p>
        </div>
        <h3>У вас обновляется ассортимент?</h3>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi aperiam consectetur cumque
            cupiditate enim esse et harum, laborum libero, molestiae nemo nesciunt perspiciatis quae quod reiciendis
            saepe vel vero!
          </p>
        </div>
        <h3>Какого объема у вас пачки чая?</h3>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet blanditiis deleniti dignissimos dolore
            doloremque, itaque molestiae nesciunt praesentium qui sit. Asperiores dolorem fuga harum labore odio
            perspiciatis quis sed, totam?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<ngb-modal  [isPopup]="isPopUp" [title]="'Посмотрите наши чайные коллекции'"></ngb-modal>
