.card-img-top {
  max-width: 50%;
}
.tea-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-body{
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
